/*.hljs {background: red;}*/
.colorscheme-dark .hljs {background: #383e42;}

/*.colorscheme-dark .centered .about h1 {color: rgb(250, 250, 250); }
.centered .about h1 {color: rgb(170, 170, 170); }

.colorscheme-dark .centered .about h2 {color: rgb(250, 250, 250); }
.centered .about h2 {color: rgb(170, 170, 170); }

.colorscheme-dark .navigation a {color: rgb(250, 250, 250); }
.navigation a {color: rgb(170, 170, 170); }*/
